spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dental_clinic
    username: postgres
    password: postgres 
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate 
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  flyway:
    enabled: true 
    baseline-on-migrate: true
    locations: classpath:db/migration
server:
  port: 8080
